/*========================fonts===============================*/

@font-face {
    font-family: 'EDOSZ';
    src: url('../_fonts/EDOSZ.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ReklameScript-Regular';
    src: url('../_fonts/ReklameScript-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
	
/*==================start layout design here==================*/

/*Desktop Layout: 769px to a max of 1600px.*/
@media (max-width:1600px), (max-device-width:1600px) {

	#gridContainer{
		width:100%;
	}

	#background_header{
		width: 100%;
		height: 200px;
		background-image: url("../_images/sidewalk.jpg");
		background-size: 100% auto;
	}

	#background_header h1{
		font-family: 'EDOSZ', arial, sans-serif;;
		font-size:70px;
		color: #FF0000;
		position: absolute;
		top:10%;
	}

	nav{
		width:100%;
		height:40px;
		padding-left: 100px;
		padding-right: 100px;	
		background-color: #0066FF; 
		text-align: center;
		border-top: 2px solid #fff;
		border-bottom: 2px solid #fff;
	}

	#nav_section{
		float:left;
		width:15%;
		padding-top:10px;
		display: block;
		font-family: 'ReklameScript-Regular', arial, sans-serif;
		font-size: 20px;
	}

	#section_left{
		padding-left:180px;
		width:40%;
		float:left;
		margin-top:60px;
	}

	#section_left section{
		border:5px ridge #C8C8C8;
		height: 400px;
		margin-bottom: 30px;
		padding: 10px;
	}

	#section_left section h1{
		font-family: 'ReklameScript-Regular', arial, sans-serif;
		font-size: 40px;
		background-color:#C0C0C0;
	}

	#section_left img{
		float:left;
		padding-right:10px;
		padding-top: 10px;
		margin:2px;
	}

	#section_left section p{
		font-family: arial, verdana, sans-serif;
		font-size: 15px;
		line-height: 20px;
		text-align: justify;
		padding-top:10px;
	}

	#section_right{
		padding-right:275px;
		width:20%;
		float:right;
		margin-top:60px;
	}

	#section_right aside{
		border:5px ridge #C8C8C8;
		height: 400px;
		margin-bottom: 30px;
		padding: 10px;
	}

	#section_right aside h1{
		font-family: 'ReklameScript-Regular', arial, sans-serif;
		font-size: 40px;
		background-color:#C0C0C0;
	}
	
	#section_right aside ul{
		padding-top: 10px;
		padding-left: 12px;
		font-family: arial, sans-serif;
		font-size: 13px;
		line-height: 20px;
	}

	#section_right aside p{
		font-family: arial, verdana, sans-serif;
		font-size: 14px;
		line-height: 16px;
		text-align: justify;
		padding-top:10px;
	}

	#section_right aside h2{
		font-family: arial, sans-serif;
		font-size: 15px;
		padding-top: 10px;
		font-weight: bold;
	}

	aside{
		border:5px double black;
		margin-bottom: 30px;
		padding: 5px;
		height:500px;
	}

	footer {
		clear:both;
		text-align: center;
		font-size: 10px;
		margin: 20px auto 0;
		height: 40px;
		line-height: 40px;
		background-color: #0066FF;
	}

	footer a {
		color: #000066;
		text-decoration: none;
	}

	footer a:hover {
		background-color: #000066;
		color: #ffffff;
	}

	footer .signature {
		font-size: 15px;
		font-family: 'ReklameScript-Regular', serif;
	}
}


/*Tablet Layout: 768px to a max of 1024px.*/
@media (max-width:1024px), (max-device-width:1024px) {

	#gridContainer{
		width:100%;
	}

	#background_header{
		width: 100%;
		height: 200px;
		background-image: url("../_images/sidewalk.jpg");
		background-size: 100% auto;
	}

	#background_header h1{
		font-family: 'EDOSZ', arial, sans-serif;;
		font-size:70px;
		color: #FF0000;
		position: absolute;
		top:10%;
	}

	nav{
		width:100%;
		height:40px;
		padding-left: 100px;
		padding-right: 100px;	
		background-color: #0066FF; 
		text-align: center;
		border-top: 2px solid #fff;
		border-bottom: 2px solid #fff;
	}

	#nav_section{
		float:left;
		width:15%;
		padding-top:10px;
		display: block;
		font-family: 'ReklameScript-Regular', arial, sans-serif;
		font-size: 20px;
	}

	#section_left{
		padding-left:180px;
		width:40%;
		float:left;
		margin-top:60px;
	}

	#section_left section{
		border:5px ridge #C8C8C8;
		height: 400px;
		margin-bottom: 30px;
		padding: 10px;
	}

	#section_left section h1{
		font-family: 'ReklameScript-Regular', arial, sans-serif;
		font-size: 36px;
		background-color:#C0C0C0;
	}

	#section_left img{
		float:left;
		padding-right:10px;
		padding-top: 10px;
		margin:2px;
	}

	#section_left section p{
		font-family: arial, verdana, sans-serif;
		font-size: 10px;
		line-height: 12px;
		text-align: justify;
		padding-top:10px;
	}

	#section_right{
		padding-right:275px;
		width:30%;
		/*float:right;*/
		margin-top:60px;
	}

	#section_right aside{
		border:5px ridge #C8C8C8;
		height: 400px;
		margin-bottom: 30px;
		padding: 10px;
	}

	#section_right aside h1{
		font-family: 'ReklameScript-Regular', arial, sans-serif;
		font-size: 36px;
		background-color:#C0C0C0;
	}
	
	#section_right aside ul{
		padding-top: 10px;
		padding-left: 12px;
		font-family: arial, sans-serif;
		font-size: 11px;
		line-height: 14px;
	}

	#section_right aside p{
		font-family: arial, verdana, sans-serif;
		font-size: 11px;
		line-height: 12px;
		text-align: justify;
		padding-top:10px;
	}

	#section_right aside h2{
		font-family: arial, sans-serif;
		font-size: 13px;
		padding-top: 15px;
		font-weight: bold;
	}

	aside{
		border:5px double black;
		margin-bottom: 30px;
		padding: 5px;
		height:500px;
	}

	footer {
		clear:both;
		text-align: center;
		font-size: 10px;
		margin: 20px auto 0;
		height: 40px;
		line-height: 40px;
		background-color: #0066FF;
	}

	footer a {
		color: #000066;
		text-decoration: none;
	}

	footer a:hover {
		background-color: #000066;
		color: #ffffff;
	}

	footer .signature {
		font-size: 15px;
		font-family: 'ReklameScript-Regular', serif;
	}
}


/*Mobile Layout: 320px to a max of 768px.*/
@media (max-width:767px), (max-device-width:767px) {

	#gridContainer{
		width:100%;
	}

	#background_header{
		width: 100%;
		height: 200px;
		background-image: url("../_images/sidewalk.jpg");
		background-size: 100% auto;
	}

	#background_header h1{
		font-family: 'EDOSZ', arial, sans-serif;;
		font-size:70px;
		color: #FF0000;
		position: absolute;
		top:10%;
	}

	nav{
		width:100%;
		height:50px;
		float:left;
		/*padding-left: 100px;
		padding-right: 100px;*/	
		background-color: #0066FF; 
		text-align: center;
		border-top: 2px solid #fff;
		border-bottom: 2px solid #fff;
	}

	#nav_section{
		float:left;
		width:15%;
		padding-top:10px;
		display: block;
		font-family: 'ReklameScript-Regular', arial, sans-serif;
		font-size:20px;
	}

	#section_left{
		padding-left:180px;
		width:40%;
		float:left;
		margin-top:60px;
	}

	#section_left section{
		border:5px ridge #C8C8C8;
		height: 400px;
		margin-bottom: 30px;
		padding: 10px;
	}

	#section_left section h1{
		font-family: 'ReklameScript-Regular', arial, sans-serif;
		font-size: 20px;
		background-color:#C0C0C0;
	}

	#section_left img{
		display:none;
		float:left;
		padding-right:10px;
		padding-top: 10px;
		margin:2px;
	}

	#section_left section p{
		font-family: arial, verdana, sans-serif;
		font-size: 9px;
		line-height: 10px;
		text-align: justify;
		padding-top:10px;
	}

	#section_right{
		display:none;
		padding-right:275px;
		width:30%;
		/*float:right;*/
		margin-top:60px;
	}

	#section_right aside{
		border:5px ridge #C8C8C8;
		height: 400px;
		margin-bottom: 30px;
		padding: 10px;
	}

	#section_right aside h1{
		font-family: 'ReklameScript-Regular', arial, sans-serif;
		font-size: 36px;
		background-color:#C0C0C0;
	}
	
	#section_right aside ul{
		padding-top: 10px;
		padding-left: 12px;
		font-family: arial, sans-serif;
		font-size: 11px;
		line-height: 14px;
	}

	#section_right aside p{
		font-family: arial, verdana, sans-serif;
		font-size: 11px;
		line-height: 12px;
		text-align: justify;
		padding-top:10px;
	}

	#section_right aside h2{
		font-family: arial, sans-serif;
		font-size: 13px;
		padding-top: 15px;
		font-weight: bold;
	}

	aside{
		border:5px double black;
		margin-bottom: 30px;
		padding: 5px;
		height:500px;
	}

	footer {
		clear:both;
		text-align: center;
		font-size: 10px;
		margin: 20px auto 0;
		height: 40px;
		line-height: 40px;
		background-color: #0066FF;
	}

	footer a {
		color: #000066;
		text-decoration: none;
	}

	footer a:hover {
		background-color: #000066;
		color: #ffffff;
	}

	footer .signature {
		font-size: 15px;
		font-family: 'ReklameScript-Regular', serif;
	}
}